<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand" href="/">RegPol - Registros Policiales</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
            <!-- Mostrar enlaces accesibles solo para usuarios logueados -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a></li>
          {% else %}
            <!-- Mostrar solo el enlace de login/registro -->
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.register') }}">Register</a></li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/secuestros">Secuestros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/NrosV">Numeros Varios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/NrosJ">Numeros Judiciales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/causas">Causas Judiciales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/exptes">expedientes</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Personal</a>
            </li>
        </ul>          
      </div>
    </div>
  </nav>