{% extends "layout.html" %} {% block body %}

<div class="col-md-4 offset-md-4">
  <div class="card card-body bg-dark text-white">
    <h1>Edit Task</h1>

    <form action="{{url_for('causas.update', id=causa.id)}}" method="POST">

        <div class="mb-3">
        <label for="fechaini">Fecha inicio:</label>
        <input
          type="date"
          name="fechaini"
          value="{{causa.fechaini}}"
          class="form-control bg-dark text-white rounded-0"
        />
        </div>

      <div class="mb-3">
        <label for="ptvo">Preventivo:</label>
        <input
          type="text"
          name="ptvo"
          value="{{causa.ptvo}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="nroExpte">Numero Expediente:</label>
        <input
          type="text"
          name="nroExpte"
          value="{{causa.nroExpte}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>

      <div class="mb-3">
        <label for="detalle">Detalle:</label>
        <input
          type="text"
          name="detalle"
          value="{{causa.detalle}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>

      <div class="mb-3">
        <label for="secretario">ID del secretario:</label>
        <input
          type="number"
          name="secretario"
          value="{{causa.secretario}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>

      <div class="mb-3">
        <label for="instructor">ID del instructor:</label>
        <input
          type="number"
          name="instructor"
          value="{{causa.instructor}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>

      <button class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

{% endblock %}